project {
  name example
  language c
  type binary dynamic
  // compiler & linker settings; add `cc`, `c_flags`, `ld_flags`, `standard`
  compile {
    standard gnu11
    cc gcc
    linker "gcc -fuse-ld=mold"
    ld_flags "-lm"
  }

  // nested sub-projects; bare path (subproject has its own conjure.kdl) or map with type/compile/dependencies for non-conjure sub-projects
  sub_projects {

  }

  // build profiles, e.g. debug { c_flags replace "-g""-O0"}
  profiles {
    release {
      c_flags -O2
      ld_flags -O2 -flto
    }
    debug {
      c_flags "-g" "-O0"
      ld_flags "-g" "-O0"
    }
  }

  dependencies {
    h2o {
      remote github "h2o/h2o"
      transport ssh
      build cmake libh2o
      pkg_config "libuv" "zlib" "openssl"
      include "include" "deps/picotls/include" "deps/quicly/include"
    }
  }
}
