project {
  name example
  language c
  type binary
  link dynamic
  // compiler & linker settings; add `cc`, `c_flags`, `ld_flags`, `standard`
  compile {
    standard gnu11
    cc gcc
    linker "mold"
    ld_flags "-lm"
  }

  // build profiles, e.g. debug { c_flags replace "-g""-O0"}
  profiles {
    release {
      c_flags -O2
      ld_flags -O2 -flto
    }
    debug {
      c_flags "-g" "-O0"
      ld_flags "-g" "-O0"
    }
  }

  dependencies {
    h2o {
      remote github "h2o/h2o"
      transport ssh
      build cmake libh2o
      pkg_config "libuv" "zlib" "openssl"
      include "include" "deps/picotls/include" "deps/quicly/include"
    }

    zlib {
      remote github "madler/zlib"
      transport ssh
      build cmake zlib
      include include
    }

    json-c {
      remote github "json-c/json-c"
      transport ssh
      build cmake json-c
      include include
    }

    cjson {
      remote github "DaveGamble/cJSON"
      transport ssh
      build cmake cjson
      include .
    }
  }
}
